.App {
  text-align: center;
}

.App-header {
  background-color: #113c58;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}
.infoBox {
  /*display: inline-block;*/
  margin:  5px;

}
.infoRow {
  color: red;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
